# Dataset and environments
input/
.env

# PyTorch large model weights
models/*.pt

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db
